@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6, b {
  font-family: "Poppins", sans-serif;
  font-weight: 700; /* Bold for headings */
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400; /* Regular for body text */
}


/* Fade in from the top */
@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutToTop {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

/* Fade in from the left */
@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-20px);
  }
}

/* Fade in from the bottom */
@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutToBottom {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

/* Fade in from the right */
@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(20px);
  }
}

/* Apply animation classes */
.fade-in-from-top {
  animation: fadeInFromTop 0.5s forwards;
}

.fade-out-to-top {
  animation: fadeOutToTop 0.5s forwards;
}

.fade-in-from-left {
  animation: fadeInFromLeft 0.5s forwards;
}

.fade-out-to-left {
  animation: fadeOutToLeft 0.5s forwards;
}

.fade-in-from-bottom {
  animation: fadeInFromBottom 0.5s forwards;
}

.fade-out-to-bottom {
  animation: fadeOutToBottom 0.5s forwards;
}

.fade-in-from-right {
  animation: fadeInFromRight 0.5s forwards;
}

.fade-out-to-right {
  animation: fadeOutToRight 0.5s forwards;
}
